# Public url sites for testing
SAUCE_BASE_URL=https://www.saucedemo.com
REQRES_BASE_URL=https://reqres.in/api

# SauceDemo test users (public credentials documented on saucedemo.com)
SAUCE_USER_STANDARD=standard_user
SAUCE_USER_LOCKED=locked_out_user
SAUCE_USER_PROBLEM=problem_user
SAUCE_PASSWORD=secret_sauce

# Notification Credentials (email and slack)
# REPORT_SENDER_EMAIL=tu_correo@gmail.com
# REPORT_SENDER_PWD=tu_app_password
# REPORT_RECEIVER_EMAIL=destinatario@example.com
# SLACK_WEBHOOK_URL=https://hooks.slack.com/services/XXXX/YYYY/ZZZZ

# ReqRes test API key (public demo, leave default) 
REQRES_API_KEY=reqres-free-v1

# Browser
BROWSER_MODE=headless    # modes: headless | headed
